*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#4CAF50;
color:white;
padding:50px;
text-align:center;
}

button{
margin-top:20px;
padding:10px 20px;
border:none;
border-radius:5px;
background:white;
cursor:pointer;
font-size:16px;
transition:.3s;
}

button:hover{
background:#ddd;
}

section{
padding:40px;
text-align:center;
}

.about{
background:white;
}

.skills{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 8px rgba(0,0,0,.2);
width:120px;
}

.projects{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.project{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 8px rgba(0,0,0,.2);
width:300px;
}
.project{
    background:white;
padding:20px;
border-radius:8px;
box-shadow:0 4px 8px rgba(0,0,0,.2);
width:300px;
}
.project img{
width:100%;
border-radius:8px;
}

.contact{
background:white;
}

footer{
background:#333;
color:white;
padding:20px;
text-align:center;
margin-top:30px;
}
